* {
    margin: 0px;
    padding: 0px;

    line-height: 180%;
}

body {
    background: linear-gradient(#d5deff, #ffffff, 30deg);
}

.contents {
    margin: 0px auto;
    max-width: 720px;
}

form {
    background: rgba(50, 50, 50, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    filter: drop-shadow(3px 3px 3px #999);
}